target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
logs/
rsakey/
/logs/
*.log
/log/
/log/sys.log
/logs/
/logs/info/
/logs/log_debug.log
/logs/log_error.log
/logs/log_info.log
/logs/log_warn.log
